extends ../layout/common.pug
block content
	a(href='/') add some body
	ul
		each user in users
			li
				span= user.name
				span &nbsp;
				a(href='users/' + user.id) views 
				span &nbsp;
				a(href='delete/' + user.id) delete